# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# dependencies
node_modules

# IDEs and editors
.vscode/
.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
*.log
*.pyc
__pycache__/
static/**/*.js
static/**/*.map
db.sqlite3

# e2e
e2e/*.js
e2e/*.map

# System Files
