<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Test document</mat-card-title>
  </mat-card-header>

    <mat-card-content>
        <form [formGroup]="formGroup" (ngsubmit)="onSubmit()">

          <mat-form-field class="form-element">
            <input matInput placeholder="Accession" formControlName="accession">
          </mat-form-field>

          <mat-form-field class="form-element">
            <mat-select formControlName="selectedType" placeholder="Test Type">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let t of types" [value]=t.id>
                {{ t.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-select formControlName="selectedSample" placeholder="Sample">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sample of samples" [value]=sample.id>
                {{ sample.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput type="number" placeholder="Number of samples" formControlName="numSamples">
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-select formControlName= "selectedLab" placeholder="Laboratory">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let lab of labs" [value]=lab.id>
                {{ lab.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-select formControlName="selectedStatus" placeholder="Status">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let status of statuses" [value]=status.id>
                {{ status.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label>Shipment Date</mat-label>
            <input matInput [matDatepicker]="shipDate"
                   formControlName="shipDate">
            <mat-datepicker-toggle matSuffix [for]="shipDate"></mat-datepicker-toggle>
            <mat-datepicker #shipDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label>Test Date</mat-label>
            <input matInput [matDatepicker]="testDate"
                   formControlName="testDate">
            <mat-datepicker-toggle matSuffix [for]="testDate"></mat-datepicker-toggle>
            <mat-datepicker #testDate></mat-datepicker>
        </mat-form-field>
 
        <mat-form-field class="form-element">
            <mat-label>Review Date</mat-label>
            <input matInput [matDatepicker]="reviewDate"
                   formControlName="reviewDate">
            <mat-datepicker-toggle matSuffix [for]="reviewDate"></mat-datepicker-toggle>
            <mat-datepicker #reviewDate></mat-datepicker>
          </mat-form-field>
          
          <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
          </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
    <!-- put buttons here -->
    </mat-card-actions>
</mat-card>

